clearbank_developer_test/ClearBank.Persistance/obj/
clearbank_developer_test/ClearBank.Persistance/bin/
clearbank_developer_test/ClearBank.Infrastructure/obj/
clearbank_developer_test/.vs/
clearbank_developer_test/ClearBank.API/bin/Debug/netcoreapp3.1/appsettings.Development.json
clearbank_developer_test/ClearBank.API/bin/
clearbank_developer_test/ClearBank.API/obj/
clearbank_developer_test/ClearBank.Domain/obj/
clearbank_developer_test/ClearBank.Domain/bin/
clearbank_developer_test/ClearBank.DeveloperTest/obj/
clearbank_developer_test/ClearBank.DeveloperTest.Tests/obj/
clearbank_developer_test/ClearBank.DeveloperTest.Tests/bin/
clearbank_developer_test/ClearBank.Database/obj/
clearbank_developer_test/ClearBank.Database/bin/
clearbank_developer_test/ClearBank.Application/obj/
clearbank_developer_test/ClearBank.Application/bin/
/CouponGenerationClient/.vs
/CouponGenerationClient/bin/Debug/netcoreapp3.1
/CouponGenerationClient/obj
/Server/Application/bin/Debug/netcoreapp3.1
/Server/Application/obj
/Server/CouponDatabase/bin/Debug
/Server/CouponDatabase/obj/Debug
/Server/CouponDiscount.Tests/bin/Debug/netcoreapp3.1
/Server/CouponDiscount.Tests/obj
/Server/CouponService/.vs
/Server/CouponService/bin/Debug/netcoreapp3.1
/Server/Persistence/obj
/Server/Persistence/bin/Debug/netcoreapp3.1
/Server/Domain/obj
/Server/Domain/bin/Debug/netcoreapp3.1
/Server/CouponService/obj
/Server/CouponDatabase/CouponDatabase.dbmdl
